body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: #151B4E;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
h1, h2{
	font-family: 'Barlow Condensed', sans-serif;
}

/* header styles */


 header h1{
 	color:  white;
 	font-size: 50px;
 	
 }
 header img{
 	width: 300px;
    border-radius: 170px;
    border: 20px solid white;
 }

 main{
 	max-width: 800px;
 	margin: 0 auto;
 	padding: 20px;
 }
 main img{
 	max-width: 100%;
 }

 h2{
 	font-size: 35px;
 	color: #151B4E;
 	margin: 40px o 10px;
}

a{
	color:#151B4E ;
}
a:hover{
	color: white;
	background-color: #483a94;
 }
 
.description{
	color: red;
}
 footer{
 	background-color: #151B4E;
	text-align: center;
	color: white;
	padding: 50px;
 }
 footer p{
 	margin: 0;
 }
 footer a{
 	color: white;
 }
 footer a:hover{
 	opacity: .5;
 	background-color: transparent;

 }

 p.caption{
 	color: grey;
 	font-style: italic;
 	margin-top: 0;
 }
 	
